/* Sommaire
# HEADER
# GLOBAL PROPERTIES
# NAVIGATION
# MEMBRES
# agenda
# footer
*/

html {
  scroll-behavior: smooth;
}

* {
  font-family: "ObjectSans", Sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.text-center {
  text-align: center;
}

.clickable:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* HEADER */
.dropdown {
  display: none;
}

@media (max-width: 768px) {
  .dropdown {
    display: block;
  }
}

.drop-btn {
  cursor: pointer;
  padding: 5px;
}

.show {display:block !important;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  padding: 1px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gainsboro;
}


@media (max-width: 768px) {
  nav {
    display: none;
  }

}

header {
  background-color: #005d71;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 10px;
}

@media (max-width: 768px) {
  .navbar {
    padding-inline: 30px;
  }
}

.navbar .logo {
  height: 80px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.social a {
  font-size: inherit;

}

/* NAVIGATION */

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: "ObjectSans", Sans-serif;
  font-size: 18px;
}

nav a:hover {
  color: #ddd;
}


.social-network-btn {
  height: 30px;
}


.text {
  font-family: "ObjectSans", Sans-serif;
  font-size: 18px;
  text-align: center;
}

/* GLOBAL PROPERTIES */

a {
  color: #49484d;
  font-size: 19px;
}

main {
  margin-inline: 20%;
  margin-top: 2%;
}

@media (max-width: 768px) {
  main {
    margin-inline: 10%;
  }
}

h1 {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 50px;
}

hr {
  width: 30%;
  border-bottom: 5px solid #000;
}

p {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
}

/* MEMBRES */
.membre {
  border: 1px solid #ccc;
  padding: 10px;
}

.membre img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.membre h3 {
  margin-top: 0;
}


/* AGENDA */
.thumbnail-agenda img {
  width: 100%;
  height: auto;
}

.thumbnail-agenda .title {
  font-weight: bold;
}

/* FOOTER */

footer {
  text-align: center;
  /* centre le footer horizontalement */
  color: #ddd;
  background-color: #005d71;
  border-bottom: 0;
  /* supprime la bordure du bas */
  border-right: 0;
  /* supprime la bordure de droite */
  overflow: hidden;
  /* Ajoute la propriété clearfix */
}