/* Sommaire
# HEADER
# GLOBAL PROPERTIES
# NAVIGATION
# MEMBRES
# agenda
# footer
*/


body {
  margin:0%;
  background-image: url("../images/projects/ajva/back.png");
}

/* HEADER */

header {
  background-color: #005d71;
  color: #fff;
}

.conteneur-bandeau {
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}

.logo {
  height: 100px;
  margin-right: 20px;
  padding-left:100px;
}

/* NAVIGATION */

nav {
  margin: 0 auto;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: "ObjectSans", Sans-serif;
  font-size: 18px;
}

nav a:hover {
  color: #ddd;
}

.bouton-discord {
  height: 30px;
  margin-left: 20px;
  padding-right:100px;
}

.text {
  font-family: "ObjectSans", Sans-serif;
  font-size: 18px;
  text-align: center;
}

/* GLOBAL PROPERTIES */

a {
  color:#49484d;
  font-size: 19px;
}

main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

h1 {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 50px;
}

hr {
  width:30%;
  border-bottom: 5px solid #000;
}

p {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
}

/* MEMBRES */

#membres {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px 0;
  display: inline-block;
}

#membres:after {
  content: "";
  display: block;
  clear: both;
}

.membre {
  width: 30%; /* Ajuster la largeur selon vos besoins */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  margin-right: 20px;
}

.membre img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.texte-membre {
  text-align: left; /* Ajuster l'alignement du texte si besoin */
}

.texte-membre h3 {
  margin-top: 0;
}

/* AGENDA */

.thumbnails-agenda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail-agenda {
  width: 30%;
  height: auto;
}

.thumbnail-image {
  width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  text-align: center; /* centre le footer horizontalement */
  color: #ddd;
  background-color: #005d71;
  border-bottom: 0; /* supprime la bordure du bas */
  border-right: 0; /* supprime la bordure de droite */
  overflow: hidden; /* Ajoute la propriété clearfix */
}